.avatar {
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
  border-radius: 50%;
}

.avatarWithBorder {
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
  border-radius: 50%;
  border: 3px solid var(--gray-800);
  outline: 2px solid var(--blue-500);
}